{:dev          true
 :ssh-hostname "172.17.0.2"
 :ssh-username "test"
 :ssh-password "test"
 :remote-path  "/tmp"
 :insecure     false
 :commons-io   {:base    "https://repository.apache.org/service/local/repositories/releases/content/commons-io/commons-io/"
                :name    "commons-io"
                :version "2.8.0"
                :type    "jar"}}
